.header {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  align-items: center;
  padding: 0.25rem 1rem;
  background-color: white;
  border-bottom: 1px solid #a79f9f;
  border-radius: 8px;
  position: relative;
}

.logo {
  max-height: 80px;
  width: 100px;
  max-width: 100%;
  border-radius: 10px;
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.nav {
  display: flex;
  z-index: 1000;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav ul li a {
  text-decoration: none;
  color: #100606;
  font-size: 1rem;
  line-height: 1.5;
}

.nav ul li a:hover {
  color: #5760ab;
}

.logoutBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #b3afaf;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logoutBtn:hover {
  background-color: #d32f2f;
}

.logoutBtn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(244, 67, 54, 0.5);
}

.logoutBtn:active {
  background-color: #b71c1c;
}

@media (max-width: 768px) {
  .nav {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 60px;
    left: 0;
    border-radius: 0 0 8px 8px;
    border: 1px solid #a79f9f;
    z-index: 1000;
  }

  .showMenu {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .nav ul {
    flex-direction: column;
    gap: 0;
  }

  .nav ul li a {
    font-size: 1.2rem;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #ddd;
  }

  .logoutBtn {
    width: 20%;
    padding: 0.5rem 1rem;
    text-align: center;
  }
}
